{% extends "layout.html" %} {% block content %}
<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div id="content">
			<!-- Content -->
			<article>
                <h2>2015-16 Committee Members</h2>
                <ul>
                    <li><strong>President -</strong> Mayank Garg</li>
                    <li><strong>Vice President -</strong> Arnov Sett</li>
                    <li><strong>Cultural Secretary -</strong> Sunirp Rehal, Nitin Anand</li>
                    <li><strong>Web Coordinator -</strong> Rishad Bharucha</li>
                    <li><strong>Treasurer -</strong> Neerja Zambare</li>
                </ul>
            </article>
        </div>
    </div>
</div>
{% endblock %}
