{% extends "layout.html" %} {% block content %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row 200%">
			<div class="4u 12u$(medium)">
				<div id="sidebar">

					<!-- Sidebar -->
					<section>
						<h3>Time and Location</h3>
						<ul>
							<li>Sunday, April 3, 2016 at 6:00 PM.</li>
							<li>Ballrooms A, B, C, D.</li>
							<li>MSU Strand Union Building,</li>
							<li>751 W Grant St, Bozeman, MT 59715.</li>
						</ul>
						<footer>
							<a href="https://www.facebook.com/events/193642311009956/" class="button icon fa-info-circle">RSVP on Facebook</a>
						</footer>
					</section>

					<section>
						<h3>Contact</h3>
						<p>For more information or ticket reservations, contact Mayank (406-548-5906) or Arnov (406-580-4929).</p>
					</section>

				</div>
			</div>
			<div class="8u 12u$(medium) important(medium)">
				<div id="content">

					<!-- Content -->
					<article>

						<h2>India Night 2016</h2>
						<p>In our eighth annual celebration, the Indian Student Association Bozeman is proud to celebrate a night of Indian cultural performances and cuisine with the students of Montana State University and the Bozeman community.</p>

						<h3 id="tickets">Tickets</h3>
						<p>Tickets will be sold from March 28th to April 1st in the Strand Union Building (SUB) at the ISA ticket booth near the Ask Us Desk. Tickets are priced at $10 for General Admission, $8 for Students and FREE for Children, 7 and under.</p>

					</article>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
