{% extends "layout.html" %} {% block content %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row 200%">
			<div class="8u 12u$(medium)">
				<div id="content">
					<!-- Content -->
					<article>
						<h2>Prospective Students</h2>
						<p>The Indian Student Association would like to extend a warm welcome to all new Bobcats joining us here in Bozeman, Montana this year. We look forward to meeting you and help you make the most of your college experience. We have compiled some important
							information to help prepare for your arrival and stay in the United States.</p>
						<h3>Travel</h3>
						<p>Once you have been admitted, you will have to make travel arrangements and set up communication between you and the department. Most departments have their own orientation in addition to the university’s orientation. Please book your tickets so
							that you arrive in time for both, your department’s and the university’s orientation.</p>
						<h3>Flights</h3>
						<p>People living on the eastern coast of India prefer to travel via the Pacific route to either Los Angeles or San Francisco and then take connecting flights via either Salt Lake City or Denver. People living on the western coast of India prefer the
							Atlantic route, with one stop in Europe. Regardless of your choice of route, expect a minimum of two stopovers between any major Indian city on your way to MSU. The airport in Bozeman is called the Gallatin Field Airport with BZN as the international
							airport code. Bozeman is not connected by direct international flights. It is mainly connected to the following cities: Salt Lake City (Utah), Denver (Colorado), Minneapolis (Minnesota), and Seattle (Washington).</p>
						<h3>Insurance</h3>
						<p>It is advisable to obtain medical insurance from India as it is less expensive and covers travel insurance as well.</p>
						<h3>Departure</h3> Before leaving India, please ensure that you have taken care of the following:
						<ul>
							<li>Communicate your arrival early to ensure an airport pickup.</li>
							<li>If you are a graduate or transfer student, apply for graduate housing as soon as you are allotted a Banner ID number.</li>
							<li>Contact other new students through Facebook to see if they can accommodate you temporarily or permanently.</li>
							<li>While traveling, you can use "Montana State University, Bozeman, MT - 59717" as your destination address.</li>
						</ul>
					</article>

				</div>
			</div>
			<div class="4u 12u$(medium)">
				<div id="sidebar">
					<!-- Sidebar -->
					<section>
						<h3>Application Process</h3>
						<p>Follow the instructions for undergraduate or graduate admission.</p>
					</section>
					<section>
						<h3>Luggage</h3> Most students tend to worry about what to carry and what not to. The following is a list of some essentials:
						<ul class="style2">
							<li>Passport with your visa</li>
							<li>I-20 issued by the university</li>
							<li>University admission letter</li>
							<li>A set of Xerox copies of all your documents</li>
							<li>Traveler's checks for large amounts (e.g. tuition fees)</li>
							<li>Enough cash for emergencies (~$200 should work)</li>
							<li>A set of clothes in case of emergencies</li>
						</ul>
						<h3>Arrival</h3> After arriving in Bozeman, please ensure that you take care of the following:
						<ul>
							<li>Report your arrival to the Office of International Programs (OIP) at Culbertson Hall.</li>
							<li>Get your MSU CAT Card (student ID card).</li>
							<li>Open your bank account.</li>
							<li>Visit your department office.</li>
							<li>Go to the Family and Graduate Housing Office and change your contact address to a local address.</li>
							<li>Look for temporary off-campus accommodation if you do not have any already.</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
