<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="6u 6u(medium) 12u$(small)">

                <!-- Links -->
                <section class="widget">
                    <h3>About Us</h3>
                    <p>We are a voluntary, non-profit, student-run organization. Our goal is to foster cross cultural interaction transcending all geographical boundaries as well providing a strong support system that thrives to provide personal and professional assistance to the students at Montana State University in Bozeman, Montana.</p>
                </section>

            </div>
            <div class="6u 6u$(medium) 12u$(small)">

                <!-- Contact -->
                <section class="widget contact last">
                    <h3>Contact Us</h3>
                    <p>We help incoming students with airport pickup, finding housing near campus and welcome any questions you have for us. Please do not hesitate to send us an <a href-"mailto:isabzn@gmail.com">email</a> or use our <a href-"contact.html">contact form</a>.</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Indian Student Association - Bozeman. All rights reserved</li>
                        <li>Design: <a href="http://rishadbharucha.com">Rishad Bharucha</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
