<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <a href="index.html"><img src="assets/images/logo.png" width="60%" /></a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li id="home"><a href="index.html">Home</a></li>
                <li id="students">
                    <a href="#">Students</a>
                    <ul>
                        <li id="current"><a href="current-students.html">Current</a></li>
                        <li id="prospective"><a href="prospective-students.html">Prospective</a></li>
                    </ul>
                </li>
                <li id="events">
                    <a href="#">Events</a>
                    <ul>
                        <li id="india-night"><a href="india-night.html">India Night</a></li>
                    </ul>
                </li>
                <li id="contacts"><a href="contact.html">Contact</a></li>
                <!-- <li><a href="no-sidebar.html">No Sidebar</a></li> -->
            </ul>
        </nav>

    </header>
</div>
