<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/images/pic01.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Culture</h2>
                            <p>We love sharing our cultural heritage through events such as Holi and India Night.</p>
                        </header>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/images/pic02.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Entertainment</h2>
                            <p>Yes! We love to dance and enjoy some mouthwatering Indian food right after that.</p>
                        </header>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/images/pic03.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Community</h2>
                            <p>We are a crazy, happy family and we really want YOU to be a part of the fun!</p>
                        </header>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
