<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="7u 12u(medium)">
                <h2>India Night 2016</h2>
                <p>A night of Indian cultural performances and cuisine at Montana State University.</p>
            </div>
            <div class="5u 12u(medium)">
                <ul>
                    <li><a href="#" class="button big icon fa-arrow-circle-right">Get Tickets</a></li>
                    <li><a href="#" class="button alt big icon fa-question-circle">More info</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
