<!DOCTYPE HTML>
<html>

<head>
    <title>Indian Student Association - Bozeman</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body class="homepage">
    <div id="page-wrapper">
        {% include "partials/header.html" %}
        <!-- You write code for this content block in another file -->
        {% block content %} {% endblock %}
        {% include "partials/footer.html" %}
    </div>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/app.js"></script>

</body>

</html>
